body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1d1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.book-cover {
    width: 400px;
    height: 600px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2)), url('backround 4.jpg ');
    background-size:cover;
    background-position:center;
    color: rgb(9, 8, 8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
}


.expert-insight p {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    color: #100f0f;
    border-bottom: 2px solid #111010;
    width: fit-content;
    padding-bottom: 5px;
}


.main-title h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.3;
    margin-top: -100px;
    color: #000;
}


.subtitle p {
    font-size: 18px;
    color: #131313;
    margin-top: -130px;
}

.edition-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

.edition p {
    position: absolute;
    bottom: 40px;
    left: 15px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.edition-image {
    width: 60px;
    height: auto;
    margin-bottom: 40px;
}


.author-publisher-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border-top: 2px solid #171716;
}


.author p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}


.publisher p {
    font-size: 24px;
    font-weight: bold; 
    margin: 0;
    text-align: right;
    color: #090909;
}